<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      background-image: linear-gradient(to top left, #626aaf,#ffffff00, #141629);
      {% comment %} animation: pulsate 4s ease-in-out infinite;  {% endcomment %}
    }
    
    @keyframes pulsate {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1);
      }
    }
    

    .jumbotron h1 {
      text-align: center;
    }
    

  </style>

</head>

<body>

  {% include "vehicle/navbar.html" %}

  <div class="jumbotron a33" style="margin-bottom:0px;">
    <h1 class="display-4">Hello Customers</h1>
    <p class="lead fw-bold">Welcome to Vehicle Service Management</p>
    <hr class="my-4">
    <p>You can access various features after Login.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="customersignup" role="button">Create Your Account</a>
      <a class="btn btn-primary btn-lg" href="customerlogin" role="button">Login</a>
    </p>
  </div>
  {% include "vehicle/footer.html" %}
</body>

</html>
