<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style type="text/css">
      .bs-example {
        margin: 0px;
      }
      .bg-dark {
        background-color: transparent !important;
      }
      .navbar-brand {
        font-size: 20px;
        font-family: sans-serif;
      }
    </style>
  </head>

  <body>
   
    <div class="mt-0 ">
      <div class="container-fluid w-100 h-50"style="background-image: linear-gradient(to bottom, transparent, #5e87f7); position:relative">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
            <div class="full">
              <div class="center-desk">
                <div class="logo">
                  <a href="/">
              
                    <img src="{% static 'images/logo/png/logo.png' %}" alt="#" class="img-fluid ms-5" width = 160px  />
                 
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <nav class="navigation navbar navbar-expand-md navbar-dark">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsExample04"
                aria-controls="navbarsExample04"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto" >
                  <a href="/customerclick" class="nav-item nav-link"
                    >Customer</a
                  >
                  <a href="/mechanicsclick" class="nav-item nav-link"
                    >Mechanics</a
                  >
                  <a href="/aboutus" class="nav-item nav-link">About Us</a>
                  <a href="contactus" class="nav-item nav-link">Contact Us</a>
                  <a href="service" class="nav-item nav-link">Service</a>
                  {% comment %}
                  <a href="/adminclick" class="nav-item nav-link">Admin</a>
                  {% endcomment %} {% comment %}
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'furnitures' %}"
                      >Furnitures</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'testimonial' %}"
                      >Testimonial</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}"
                      >Contact Us</a
                    >
                  </li>
                  <li class="nav-item d_none">
                    <a class="nav-link" href="#"
                      ><i
                        class="fa fa-user-circle padd_right"
                        aria-hidden="true"
                      ></i
                      >Login/Register</a
                    >
                  </li>
                  <li class="nav-item d_none">
                    <a class="nav-link" href="#"
                      ><i class="fa fa-search" aria-hidden="true"></i
                    ></a>
                  </li>
                  {% endcomment %}
                </ul>
              </div>
            </nav>
          </div>
        </div>
      {% comment %} </div> {% endcomment %}
    </div>
  </body>
</html>
